<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649577405234-rjr7kdpafujgaecc54uk1si13dr7peks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649577405234-rjr7kdpafujgaecc54uk1si13dr7peks</string>
	<key>API_KEY</key>
	<string>AIzaSyD2sMLOezcYmLWdEfOTx_Bp46aXYCLaxds</string>
	<key>GCM_SENDER_ID</key>
	<string>649577405234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.trestentos.protocolize</string>
	<key>PROJECT_ID</key>
	<string>protocolize-3tentos</string>
	<key>STORAGE_BUCKET</key>
	<string>protocolize-3tentos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649577405234:ios:315cc7a327085721c5552b</string>
</dict>
</plist>